{% include 'adminheader.html' %}
<div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/slide-21.jpg) ;height: 200px">
        <div class="overlay overlay-a" style="height: 200px"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                  	</div></div></div></div></div></div></div>
<center>
	<h1>View Feedback</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>sender</th>
			<th>Feedback</th>
			
			<th>Date</th>
			<th>Reply</th>

		</tr>
		{% for row in data['feee']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['puname']}}</td>
			<td>{{row['feedback']}}</td>
			
			<td>{{row['date']}}</td>
			
			{% if row ['reply']=="pending"%}
			<td><a  class="btn btn-success" href="admin_sendreply?fid={{row['feedback_id']}}">Send reply</a></td>
			{% else %}
			<td>{{row['reply']}}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html'%}