{% include 'parentheader.html'%}
  <div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/slide-21.jpg); height: 850px">
        <div class="overlay overlay-a" style="height: 850px"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                  	<br><br><br>
                  	

<center>
	<h1 style="color: white">Manage Students</h1>

	<form method="post">
		{% if data['up']%}
				<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Course</th>
				<td><select name="c"  class="form-control" required="">
					{% for row in data['up']%}
					<option value="{{row['course_id']}}">{{data['up'][0]['course']}}</option>
					{% endfor %}
					<option>Select</option>
					{% for row in data['co'] %}
					<option value="{{row['course_id']}}">{{row['course']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			
			<tr>
				<th>First Name</th>
				<td><input type="text" name="fname"  class="form-control" required="" value="{{data['up'][0]['fname']}}"></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" name="lname"  class="form-control" required="" value="{{data['up'][0]['lname']}}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="pl"  class="form-control" required="" value="{{data['up'][0]['place']}}"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone"  class="form-control" required="" value="{{data['up'][0]['phone']}}"></td>
			</tr>
			<tr>
				<th>Email</th> 
				<td><input type="email" name="email"  class="form-control" required="" value="{{data['up'][0]['email']}}"></td>
			</tr>
		
			<tr>
				<td align="center" colspan="2"><input type="submit"  class="btn btn-success" name="submit"></td>
			</tr>
		</table>
		{% else %}
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Course</th>
				<td><select name="c"  class="form-control" required="">
					<option>Select</option>
					{% for row in data['co'] %}
					<option value="{{row['course_id']}}">{{row['course']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			
			<tr>
				<th>First Name</th>
				<td><input type="text"  class="form-control" required="" name="fname"></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text"  class="form-control" required="" name="lname"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text"  class="form-control" required="" name="pl"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text"  class="form-control" required="" pattern="[0-9]{10}"  name="phone"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email"  class="form-control" required="" name="email"></td>
			</tr>
			<tr>
				<th>User Name</th>
               <td><input type="text"  class="form-control" required="" name="uname"></td>               
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password"  class="form-control" required="" name="pwd"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit"   class="btn btn-success" name="student"></td>
			</tr>
		</table>
		{% endif %}
	</form>
</center>
</div></div></div></div></div></div></div>
<center>
	<h1>View Students</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>Course</th>
			<th>Parent</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Place</th>
			<th>Phone</th>
			<th>Email</th>
		</tr>
		{% for row in data['stud']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['course']}}</td>
			<td>{{row['fname']}}</td>
			<td>{{row['sfname']}}</td>
			<td>{{row['slname']}}</td>
			<td>{{row['splace']}}</td>
			<td>{{row['sphone']}}</td>
			<td>{{row['semail']}}</td>
			<td><a  class="btn btn-success" href="?action=delete&sid={{row['student_id']}}">Delete</a></td>
			<td><a  class="btn btn-success" href="?action=update&sid={{row['student_id']}}">Update</a></td>
			<td><a  class="btn btn-success" href="parent_viewattendance?sid={{row['student_id']}}">View Attendance</a></td>
			<td><a  class="btn btn-success" href="parent_viewresult?sid={{row['student_id']}}">View Result</a></td>
		</tr>
		{% endfor %}
	</table>
</center>

{% include 'footer.html'%}