{% include 'staffheader.html' %}
<div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/slide-21.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
<center>
	<h1 style="color: white">Add Attendance</h1>
	<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>Attendance</th>
			<td><input type="text"  class="form-control" required="" name="att"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit"  class="btn btn-success" name="attendance"></td>
		</tr>

	</table>
	</form>
</center>
</div></div></div></div></div></div></div>
<center>
	<h1>View Attendance</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>Student</th>
			<th>Attendance</th>
			<th>Date</th>
		</tr>
		{% for row in data['attendance']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['fname']}}</td>
			<td>{{row['attendance']}}</td>
			<td>{{row['date']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html' %}