{% include 'studentheader.html'%}
<div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/slide-21.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
<center>
	<h1 style="color: white">Apply Leave</h1>
	<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>date</th>
			<td><input type="date"  class="form-control" required="" name="date"></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><input type="text"  class="form-control" required="" name="status"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit"  class="btn btn-success" name="leave"></td>
		</tr>
	</table>
	</form>
</center>
</div></div></div></div></div></div></div>
{% include 'footer.html'%}